<!DOCTYPE html>
<html lang="pt-br" ng-app="appPrincipal">
<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Tarefas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles/home.css">
</head>

<body class="h-100 d-flex align-items-center justify-content-center bg-dark" ng-controller="Rest">

  <div class="container position-relative bg-light flex-column ms-3 me-3" style="height: 85vh; display: flex;">

    <div class="cabecalho d-flex justify-content-between align-items-center py-3">
      <div class="cabecalho_esquerda d-flex">
        <div class="dropdown">
          <button class="btn text-dark bg-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list me-2"></i> Menu
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header text-left">
              <strong class="nomeUsuario"></strong><br>
              <small id="dataAtual"></small>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item d-none align-items-center" href="#">
                <i class="bi bi-gear me-2"></i> Configurações
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center text-danger logout-button" href="#">
                <i class="bi bi-box-arrow-right me-2"></i> Sair
              </a>
            </li>
          </ul>
        </div>
        <button class="btn text-dark bg-light ms-2" style="cursor:pointer">
          <i class="bi bi-house"></i> Home
        </button>
        <button class="btn text-dark bg-light ms-2" style="cursor:pointer">
          <i class="bi bi-calendar-event me-2 botao"></i> Calendário
        </button>
      </div>
  
      <div class="cabecalho_direita position-relative">
        <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-secondary"></i>
        <input type="text" class="form-control rounded-pill ps-5 pe-4" id="search" placeholder="Buscar" style="border-radius: 50px;">
      </div>
    </div>
  
    <div class="options d-flex justify-content-center mb-3 mt-3">
      <button class="todas">Todas as Tarefas</button>
      <button class="concluidas mx-3">Concluídas</button>
      <button class="atrasadas">Atrasadas</button>
    </div>
    
    <div class="all-tasks">
      <div class="today">
        <h2 class="ms-2 mt-3">Hoje</h2>

        <div>
          <div class="task align-items-center justify-content-between" ng-repeat="tarefa in hoje_pendentes" data-id="{{tarefa.id}}">
            <div class="task-left d-flex align-items-center gap-3">
              <div class="d-flex flex-column align-items-center">
                <i class="bi bi-clipboard fs-4"></i>
                <p class="task-date mb-0">{{tarefa.data}}</p>
              </div>
              <div class="d-flex flex-column">
                <p class="task-title mb-0">{{tarefa.titulo}}</p>
                <p class="task-time mb-0">{{tarefa.horario}}</p>
              </div>
            </div>
            <div class="task-right d-flex align-items-center gap-2">
              <button class="btn text-success task-complete" aria-label="Concluir tarefa">
                <i class="bi bi-check-circle"></i>
              </button>
              <button class="task-edit btn btn-sm">Editar</button>
              <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="task d-flex align-items-center justify-content-between py-3 px-3">
          <div class="task-left d-flex align-items-center gap-3">
            <button class="btn btn-task btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
              <i class="bi bi-plus" style="font-size: 1.5rem; font-weight: light;"></i>
            </button>
            <p class="fw-normal mb-0">Adicionar Tarefa para Hoje</p>
          </div>
        </div>
      </div>

      <div class="tomorrow">
        <h2 class="ms-2 mt-4">Amanhã</h2>
  
        <div class="task align-items-center justify-content-between" ng-repeat="tarefa in amanha_pendentes" data-id="{{tarefa.id}}">
          <div class="task-left d-flex align-items-center gap-3">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-clipboard fs-4"></i>
              <p class="task-date mb-0">{{tarefa.data}}</p>
            </div>
            <div class="d-flex flex-column">
              <p class="task-title mb-0">{{tarefa.titulo}}</p>
              <p class="task-time mb-0">{{tarefa.horario}}</p>
            </div>
          </div>
          <div class="task-right d-flex align-items-center gap-2">
            <button class="btn text-success task-complete" aria-label="Concluir tarefa">
              <i class="bi bi-check-circle"></i>
            </button>
            <button class="task-edit btn btn-sm">Editar</button>
            <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>

        <div class="task d-flex align-items-center justify-content-between py-3 px-3">
          <div class="task-left d-flex align-items-center gap-3">
            <button class="btn btn-task-tomorrow btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;">
              <i class="bi bi-plus" style="font-size: 1.5rem; font-weight: light;"></i>
            </button>
            <p class="fw-normal mb-0">Adicionar Tarefa para Amanhã</p>
          </div>
        </div>
      </div>
    </div>

    <div class="completed-tasks">

      <div class="today">
        <h2 class="ms-2 mt-3">Hoje</h2>
  
        <div class="task d-flex align-items-center justify-content-between concluida mb-1" ng-repeat="tarefa in hoje_concluidas" data-id="{{tarefa.id}}">
          <div class="task-left d-flex align-items-center gap-3">
            <div class="d-flex flex-column align-items-center">
            <i class="bi bi-clipboard fs-4"></i>
            <p class="task-date mb-0">{{tarefa.data}}</p>
          </div>
          <div>
            <p class="task-title mb-0">{{tarefa.titulo}}</p>
            <p class="task-time mb-0">{{tarefa.horario}}</p>
            </div>
          </div>
          <div class="task-right d-flex align-items-center gap-2">
            <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="yesterday">
        <h2 class="ms-2 mt-4">Ontem</h2>
  
        <div class="task d-flex align-items-center justify-content-between concluida mb-1" ng-repeat="tarefa in ontem_concluidas" data-id="{{tarefa.id}}">
          <div class="task-left d-flex align-items-center gap-3">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-clipboard fs-4"></i>
              <p class="task-date mb-0">{{tarefa.data}}</p>
            </div>
          <div>
            <p class="task-title mb-0">{{tarefa.titulo}}</p>
            <p class="task-time mb-0">{{tarefa.horario}}</p>
            </div>
          </div>
          <div class="task-right d-flex align-items-center gap-2">
            <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="late-tasks">
      <div class="today">
        <h2 class="ms-2 mt-3">Hoje</h2>
  
        <div class="task align-items-center justify-content-between atrasada mb-1" ng-repeat="tarefa in hoje_atrasadas" data-id="{{tarefa.id}}">
          <div class="task-left d-flex align-items-center gap-3">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-clipboard fs-4"></i>
              <p class="task-date mb-0">{{tarefa.data}}</p>
            </div>
            <div class="d-flex flex-column">
              <p class="task-title mb-0">{{tarefa.titulo}}</p>
              <p class="task-time mb-0">{{tarefa.horario}}</p>
            </div>
          </div>
          <div class="task-right d-flex align-items-center gap-2">
            <button class="btn text-success task-complete" aria-label="Concluir tarefa">
              <i class="bi bi-check-circle"></i>
            </button>
            <button class="task-edit btn btn-sm">Editar</button>
            <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="yesterday">
        <h2 class="ms-2 mt-4">Ontem</h2>
  
        <div class="task align-items-center justify-content-between atrasada mb-1" ng-repeat="tarefa in ontem_atrasadas" data-id="{{tarefa.id}}">
          <div class="task-left d-flex align-items-center gap-3">
            <div class="d-flex flex-column align-items-center">
              <i class="bi bi-clipboard fs-4"></i>
              <p class="task-date mb-0">{{tarefa.data}}</p>
            </div>
            <div class="d-flex flex-column">
              <p class="task-title mb-0">{{tarefa.titulo}}</p>
              <p class="task-time mb-0">{{tarefa.horario}}</p>
            </div>
          </div>
          <div class="task-right d-flex align-items-center gap-2">
            <button class="btn text-success task-complete" aria-label="Concluir tarefa">
              <i class="bi bi-check-circle"></i>
            </button>
            <button class="task-edit btn btn-sm">Editar</button>
            <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="task-overlay position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50" style="z-index: 1;"></div>

    <div class="task-creator flex-column justify-content-center align-items-center px-3 py-3 bg-white rounded-4 shadow" style="z-index: 10; max-width: 600px; margin: 40px auto; gap: 16px;">
      <button class="btn-close position-absolute" style="top: 16px; right: 16px;" aria-label="Fechar"></button>
      <h3 class="mt-3">Crie uma nova Tarefa</h3>
      <div class="d-flex align-items-center gap-3 mb-3">
        <p class="mb-0 fw-medium text-dark" style="min-width: 150px;">Título da Tarefa</p>
        <input type="text" name="title" id="title" class="form-control w-50 rounded">
      </div>
      <div class="d-flex align-items-center gap-3 mb-3">
        <p class="mb-0 fw-medium text-dark" style="min-width: 150px;">Horário do Fim da Tarefa</p>
        <input type="time" id="horario" required>
      </div>
      <div class="d-flex align-items-center gap-3 mb-0">
        <p class=" fw-medium text-dark" style="min-width: 150px;">Data</p>
        <p id="data" class="form-control w-50 rounded"></p>
      </div>
      <button id="create" class="button-31 mb-3" role="button">Criar Tarefa</button>
    </div>

    <div class="task-editor flex-column justify-content-center align-items-center px-3 py-3 bg-white rounded-4 shadow" style="z-index: 10; max-width: 600px; margin: 40px auto; gap: 16px;">
      <button class="btn-close close position-absolute" style="top: 16px; right: 16px;" aria-label="Fechar"></button>
      <h3 class="mt-3">Edite sua Tarefa</h3>
      <div class="d-flex align-items-center gap-3 mb-3">
        <p class="mb-0 fw-medium text-dark" style="min-width: 150px;">Título da Tarefa</p>
        <input type="text" name="title-edit" id="title-edit" class="form-control w-50 rounded">
      </div>
      <div class="d-flex align-items-center gap-3 mb-3">
        <p class="mb-0 fw-medium text-dark" style="min-width: 150px;">Horário de Realização</p>
        <input type="time" id="horario-edit" required>
      </div>
      <div class="d-flex align-items-center gap-3 mb-0">
        <p class="fw-medium text-dark" style="min-width: 150px; margin-bottom: 0; line-height: 1.2;">Data</p>
        <input type="date" id="data-edit" class="form-control w-60 rounded">
      </div>
      <button id="edit" class="button-31 mb-3" role="button">Editar Tarefa</button>
    </div>

      <div id="calendarioContainer" class="calendar-slide bg-dark shadow rounded-4 p-4 mt-3" style="display: none;">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <button id="mesAnterior" class="btn btn-dark"><i class="bi bi-chevron-left"></i></button>
          <h3 id="nomeMes" class="mb-0 fw-bold text-white"></h3>
          <button id="mesProximo" class="btn btn-dark"><i class="bi bi-chevron-right"></i></button>
        </div>
        <div id="calendario" class="d-grid" style="grid-template-columns: repeat(7, 1fr); gap: 10px; min-height: 400px;"></div>
      </div>

      <div class="calendario_tasks bg-light" ng-class="{ 'ativo': dataSelecionada }" ng-show="dataSelecionada" ng-controller="CalendarioController">
        <h2 class="ms-2 mt-3">{{dataFormatada}}</h2>
        <button class="btn btn-sm btn-danger ms-2 mb-2" ng-click="fecharCalendario()">Fechar</button>
        <div>
          <div class="task align-items-center justify-content-between" ng-repeat="tarefa in tarefa_dia" data-id="{{tarefa.id}}">
            <div class="task-left d-flex align-items-center gap-3">
              <div class="d-flex flex-column align-items-center">
                <i class="bi bi-clipboard fs-4"></i>
                <p class="task-date mb-0">{{dataFormatada}}</p>
              </div>
              <div class="d-flex flex-column">
                <p class="task-title mb-0">{{tarefa.titulo}}</p>
                <p class="task-time mb-0">{{tarefa.horario}}</p>
              </div>
            </div>
            <div class="task-right d-flex align-items-center gap-2">
              <button class="btn text-success task-complete" aria-label="Concluir tarefa">
                <i class="bi bi-check-circle"></i>
              </button>
              <button class="task-edit btn btn-sm">Editar</button>
              <button class="btn text-danger task-delete" aria-label="Excluir tarefa">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="task d-flex align-items-center justify-content-between py-3 px-3">
          <div class="task-left d-flex align-items-center gap-3">
            <button class="btn btn-task btn-outline-secondary rounded-circle d-flex align-items-center justify-content-center" style="width: 35px; height: 35px;" ng-click="abrirTaskCreator(dataSelecionada)">
              <i class="bi bi-plus" style="font-size: 1.5rem; font-weight: light;"></i>
            </button>
            <p class="fw-normal mb-0">Adicionar Tarefa em {{dataFormatada}}</p>
          </div>
        </div>
        
      </div>
  </div>
  <div ng-view></div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="js/home.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>
